.header{
    position: static !important;
    background: #be0002;
}
.um-red{
    color: #be0002;
}
.um-background
{
    background-size:cover;
    background-image:url('img/banner-1.jpg');
}
.um-bg{
    background-color: #fff;
}
.um-red-bg{
    background-color:#be0002;
}
.um-opacity-0
{
    background-color: rgba(245, 245, 245, 0);
}
.um-opacity-1
{
    background-color: rgba(245, 245, 245, 0.25);
}
.um-opacity-2
{
    background-color: rgba(245, 245, 245, 0.5);
}
.um-opacity-3
{
    background-color: rgba(245, 245, 245, 0.75);
}
.um-opacity-4
{
    background-color: rgba(245, 245, 245, 1);
}
.um-btn-red
{
    color:#fff;
    background-color:#be0002;
    border-color:#be0002;
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    color:#fff;
    background-color:#be0002;
    border-color:#be0002;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.um-btn-red:hover
{
    color:#fff;
    background-color:#800000;
    border-color:#800000;
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    color:#fff;
    background-color:#800000;
    border-color:#800000;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.um-btn-red.focus,.um-btn-red:focus
{
    color:#fff;
    background-color:#800000;
    border-color:#6e0000;
    box-shadow:0 0 0 .2rem rgba(255, 38, 38, 0.5)
}
.um-btn-red.disabled,.um-btn-red:disabled
{
    color:#fff;
    background-color:#be0002;
    border-color:#be0002;
}
.um-btn-red:not(:disabled):not(.disabled).active,.um-btn-red:not(:disabled):not(.disabled):active,.show>.um-btn-red.dropdown-toggle
{
    color:#fff;
    background-color:#800000;
    border-color:#6e0000
}
.um-btn-red:not(:disabled):not(.disabled).active:focus,.um-btn-red:not(:disabled):not(.disabled):active:focus,.show>.um-btn-red.dropdown-toggle:focus
{
    box-shadow:0 0 0 .2rem rgba(255, 38, 38, 0.5)
}

.um-btn-red-inverted
{
    color:#fff;
    background-color:#be0002;
    border-color:#fff;
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:2px solid #fff;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.um-btn-red-inverted:hover
{
    color:#800000;
    background-color:#fff;
    border-color:#fff;
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:2px solid #fff;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.um-btn-red-inverted.focus,.um-btn-red-inverted:focus
{
    color:#800000;
    background-color:#fff;
    border-color:#fff;
    box-shadow:0 0 0 .2rem rgba(255, 255, 255, 0.5)
}
.um-btn-red-inverted.disabled,.um-btn-red-inverted:disabled
{
    color:#800000;
    background-color:#fff;
    border-color:#fff
}
.um-btn-red-inverted:not(:disabled):not(.disabled).active,.um-btn-red-inverted:not(:disabled):not(.disabled):active,.show>.um-btn-red-inverted.dropdown-toggle
{
    color:#800000;
    background-color:#fff;
    border-color:#ffffff
}
.um-btn-red-inverted:not(:disabled):not(.disabled).active:focus,.um-btn-red-inverted:not(:disabled):not(.disabled):active:focus,.show>.um-btn-red-inverted.dropdown-toggle:focus
{
    box-shadow:0 0 0 .2rem rgba(255, 255, 255, 0.5)
}
:root {
    --color-light: white;
    --color-dark: #212121;
    --color-signal: #212121;
    --color-background: var(--color-light);
    --color-text: var(--color-dark);
    --color-accent: var(--color-signal);
    --size-bezel: 0.5rem;
    --size-radius: 4px;
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
    color: var(--color-text);
    font-weight: 300;
}
.input {
    margin:0;
    padding:0;
    position: relative;
}
.input__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 1.8);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    line-height: 1;
}
.input__field
{
   outline: none;
   display:block;
   width:inherit;
   height:calc(1.5em + .75rem + 10px);
   padding:.375rem .75rem;
   font-size:1rem;
   font-weight:400;
   line-height:1.5;
   color:#495057;
   background-color:#fff;
   background-clip:padding-box;
   border:1px solid #ced4da;
   border-radius:.25rem;
   transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out, border .10s ease-in-out;
}
.input__field:hover
{
  border:1px solid #800000;
  transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.input__field:focus
{
  border:2px solid #800000;
  transition:border-color .15s ease-in-out, box-shadow .15s ease-in-out, border .10s ease-in-out;
}
@media (prefers-reduced-motion:reduce){.form-control{transition:none}}

.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
    transform: translate(-0.5rem, -75%) scale(0.8);
    color: var(--color-accent);
}
#register{
    display:none;
}
#admin{
    display:none;
}
#student{
    display:none;
}
#faculty{
    display:none;
}
#admin2{
    display:none;
}
#student2{
    display:none;
}
#faculty2{
    display:none;
}
.shadow-um-1
{
    box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important
}
td, th{
    height: 75px;
}
td, th{
    text-align: center;
    vertical-align: middle;
}